body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 209, 209);
}

ul.navbar {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin-top: -0px;
    overflow: hidden;
    background-color: #333;
  }
  
li.navbar-itens {
    float: right;
}
  
li a.navbar-itens-texto {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

li.navbar-itens a:hover {
    background-color: #111;
}

div.comeco {
    background-image: url("Imagens/nuke.jpg");
    padding-top: 0;
}

h1.comeco {
    text-align: center;
    color: aliceblue;
    font-size: 15vh;
    margin: 0;
    padding-top: 8vh;
    padding-bottom: 5vh;
}

div.formulario {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 0;
    text-align: center;
}

input {
    color: #fff;
    font-size: 28px;
    padding: 20px 5px 5px;
    background-color: #4f4f4f;
    border: none;
    border-radius: 4px;
}

button {
    margin-top: 1vh;
    color: #fff;
    font-size: 28px;
    padding: 10px 10px 10px;
    background-color: #4f4f4f;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #111;
}

div.final {
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #4f4f4f;
}